@import url("https://use.typekit.net/oku7jul.css");

@font-face {
  font-family: Phoenix_BIOS;
  src: url("assets/fonts/Phoenix_BIOS.woff");
}

@font-face {
  font-family: Phoenix_BIOS_2Y;
  src: url("assets/fonts/Web437_IBM_CGA-2y.woff");
}

@font-face {
  font-family: IBM_EGA;
  src: url("assets/fonts/IBM_EGA_9x14.woff");
}

@font-face {
  font-family: IBM_PS-55;
  src: url("assets/fonts/IBM_PS-55_re.woff");
}

@font-face {
  font-family: DOS-V;
  src: url("assets/fonts/DOS-V_re_JPN24.woff");
}

body{
	margin: 0px;
	font-family: lores-21-serif;
}

img{
	width: 550px;
	border: 1px dashed black;
}

.menu{
	margin-bottom: 20px;
}

.essayBackButton {
	margin: 5px;
	width: 160px;
	height: 35px;
	border: none;
	background-color: #232222;
	font-family: "IBM_EGA", sans-serif;
	font-size: 20px;
	letter-spacing: 5px;
	text-align: left;
	padding-left: 15px;
	color: white;
}

.essayBackButton:hover {
	color: #0066ff;
	background-color: #00ff2b;
}

.eyeTitle{
  font-family: Phoenix_BIOS, monospace;
  font-size: 8px;
  text-align: center;
  line-height: 12px;
}

.handTitle{
  text-align: center;
  line-height: 15px
}

#handsTitleQuote{
	font-size: 8px;
	font-family: Phoenix_BIOS, monospace;
}

.divider{
	width: 100vw;
	height: 100vh;
	display: flex;
}

.essayDiv{
	width: 55%;
	height: 100vh;
	line-height: 20px
/*	border: 1px solid black;*/
}

.essayDiv p{
	padding: 50px;
}

.sideBySideText{
	display: flex;
	text-align: center;
	margin-bottom: 0px;
}

.sideBySideText p{
	padding-bottom: 0px;
}


.assetsDiv{
	width: 45%;
	height: 100vh;
/*	border: 1px solid black;*/
}

#studiesDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: -20px;
}

.studies {
	width: 360px;
  position: relative;
  margin-left: -290px; /* overlap horizontally */
  transition: transform 0.1s linear, z-index 0s;
  z-index: 1;
}

/* Position each image slightly lower */
.studies:nth-child(1) {
  top: 0;
}

.studies:nth-child(2) {
  top: 100px;
}

.studies:nth-child(3) {
  top: 200px;
}

/* Remove left margin for the first one */
.studies:first-child {
  margin-left: 0;
}

/* Hover effect: bring to front and enlarge */
.studies:hover {
  transform: scale(1.2);
  z-index: 10;
}


#artcilesDiv {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Shrink-wrap columns to content */
  gap: 10px 8px; /* row gap, column gap */
  justify-content: center; /* center the grid as a whole */
  align-items: center;
}

.articles {
  width: 260px;        /* your desired size */
  height: 200px;
  object-fit: cover;
  display: block;
  padding: 10px;
}


